ul{
    padding: 0px;
    margin: 0px;
}
.container-fluid{
    padding: 0px !important;
    margin: 0px !important;
}

.bg-custom{
    background-color: #003478;
}
a{
    text-decoration: none;
}
/* nav */
.navbar ul li a{
    color: white !important;
}
.navbar{
    margin-bottom: 15px;
}


.auth>a{
    color: white;
 }
/* .ul-nav{
    width: 70%;
} */

/* main body */
.main{
    margin: 0px auto !important;

}
.body-left{
    border: 1px dashed red;
}

.body-main{
    border: 1px dashed blue;
}
.search-box{
    height: 300px;
}
.btn-login{
    width: 100%;
}
.hot-news{
    height: 200px;
}


/* footer */

.footer{
    height: 300px;
    margin-top: 15px;
    
}
.footer img{
    margin: auto;
 
    display: block;
    margin-bottom: 10px;
}